/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    /* background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%); */
    background-color: #ff4949;
    min-width: 421px;
    font-family: 'Roboto Condensed', sans-serif;
}